<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Bienvenido {{nombre}} {{apellido}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/Home']">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/PerfilUsuarios']" routerLinkActive="router-link-active">Perfil</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                <button class="btn btn-secondary" (click)="MarcarCasillar(1)">{{marca1}}</button>
            </th>
            <th>
                <button class="btn btn-secondary" (click)="MarcarCasillar(2)">{{marca2}}</button>
            </th>
            <th>
                <button class="btn btn-secondary" (click)="MarcarCasillar(3)">{{marca3}}</button>
            </th>
        </tr>
        <tr>
            <th>
                <button class="btn btn-secondary" (click)="MarcarCasillar(4)">{{marca4}}</button>
            </th>
            <th>
                <button class="btn btn-secondary" (click)="MarcarCasillar(5)">{{marca5}}</button>
            </th>
            <th>
                <button class="btn btn-secondary" (click)="MarcarCasillar(6)">{{marca6}}</button>
            </th>
        </tr>
        <tr>
            <th>
                <button class="btn btn-secondary" (click)="MarcarCasillar(7)">{{marca7}}</button>
            </th>
            <th>
                <button class="btn btn-secondary" (click)="MarcarCasillar(8)">{{marca8}}</button>
            </th>
            <th>
                <button class="btn btn-secondary" (click)="MarcarCasillar(9)">{{marca9}}</button>
            </th>
        </tr>
    </tbody>
</table>


<ngx-spinner></ngx-spinner>